[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "prezto"]
	path = prezto
	branch = "master"
	url = git@github.com:actioninja/prezto.git
[submodule "nvim-conf"]
	path = nvim-conf
	branch = "master"
	url = git@github.com:actioninja/nvim-conf.git
